.search-poke{
    text-decoration: none;
    width:280px;
    border:none;
    padding: 5px;
    text-align: center;
}
.search-div{
    margin: 10px;
    display:flex;
    justify-content: center;
}